
  .thum {
    max-height: 200px;
    border: 1px solid #000;
    margin: 10px 5px 0 0;
    margin-left: 60%;
    position: absolute;
  }

  .thumb {
    margin-top: -600px;
  }


  .thumbb {
    margin-top: -270px;
    margin-left: 65%;

  }

  /*PropriedadeFoto*/
  .thumbbb {
    margin-top: -500px;
  }


  @media screen and (max-width: 600px) { 

      .thum {
    max-height: 200px;
    border: 1px solid #000;
    margin: 15px 5px 0 0;
    position: inherit;
    }


 
  }




