@media screen and (max-width: 720px) {
    .basic-form input, .basic-form textarea, .basic-form select, form input,
    form textarea, form select{
        margin-left: 80%;

    }
}
 #tb_content{
   /* width: 30%; */
}
